.navbar {
    background-color: #CDE3EB;
    height: 80px;
    padding: 5px;
  }
  
  .navbar a {
    color: white;
    font-size: 36pt;
    text-decoration: none;
    line-height: 2.4;
    font-family: 'Permanent Marker', cursive;
  }
  
  .form-group {
    float: left;
    margin: 10px;
  }
  
  .btn {
    float: left;
    margin: 10px;
  }
  